.menu{
  background-color: var(--cream);
}

.menu nav{
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1000px;
}

.mobile-menu a,
.menu a{
  display: inline-block;
}

.menu nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.menu nav ul> *{
  margin: 0 0.5rem;
}

.mobile-menu nav ul li> a,
.menu nav ul li> a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  padding: 0.3rem 0.9rem;
  border-radius: 0.4rem;
  border: solid transparent 2px;
  position: relative;
}

/* hover on nav links -> show border */
.menu nav ul li> a:hover{
  border-color: var(--blue);
  border-style: solid;
}

.btn-free-trial{
  display: inline-block;
  color: var(--white) !important;
  background-color: var(--blue);
}

.btn-free-trial:hover{
  opacity: .9;
  transition: opacity 0.3s;
}

#box-hamburger, .btn-hamburger{
  display: none;
}

/* mobile menu styling */
.mobile-menu{
  background-color: var(--cream);
  display: none;
  position: relative;
  min-height: 100svh;
}

.mobile-menu a{
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 0.8rem;
}

.mobile-menu ul{
  list-style: none;
}

.mobile-menu> nav> ul> li{
  margin-bottom: 2rem;
}

.mobile-menu hr{
  max-width: 95%;
  margin: 0 auto;
}

.mobile-menu-section-open{
  margin-left: 3rem;
}

.mobile-menu-section-open ul{
  border-left: 1px solid var(--neutral-gray);
}

.mobile-menu-section-open ul li a{
  text-transform: none;
  font-weight: 700;
  
  &:hover{
    text-decoration: underline;
  }
}



@media (min-width: 900px) {

  .menu-popup-link svg path{
    fill: var(--blue);
  }

  .menu-popup-link:hover > .menu-popup{
    display: block;
  }

  .menu-popup{
    padding: 1rem;
    display: none;
    position: absolute;
    top: 2.9rem;
    text-transform: none;
    font-weight: 400;
  }

  .menu-popup-padding{
    min-height: 1rem;
    background-color: transparent;
  }

  .menu-popup-content{
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
  }

  .menu-popup-content a{
    border-radius: 5px;
  }
  
  .menu-popup-links-left{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .menu-popup-links-left a{
    padding: 1rem;
  }

  .menu-popup-links-left a:hover{
    background-color: hsl(from var(--blue) h s l / 0.1);
    transition: background-color 0.2s;
  }
  
  .menu-popup-links-right a{
    background-color: hsla(300, 61%, 85%, 0.342);
    padding: 3rem;
  }

  .menu-popup-links-right a:hover{
    outline: 2px solid hsla(300, 61%, 85%, 0.999);
  }
  

}


@media (max-width: 900px) {

  .menu nav> :first-child{
    display: inline;
  }

  .menu nav ul li :not(.btn-free-trial){
    display: none;
  }

  .btn-free-trial{
    white-space: wrap;
  }

  /* btn burger styling */
  .btn-hamburger{
    display: block;
    color: var(--blue);
    cursor: pointer;
  }

  /* when clicked burger */
  #box-hamburger:checked + .btn-hamburger{
    color: rebeccapurple;
  }

  #box-hamburger:checked ~ .mobile-menu{
    display: block;
  }

  /* unecessary but ok */
  body:has(#box-hamburger:checked){
    overflow-x: hidden;
    overflow-y: scroll;
  }
}



