* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

:root{
  --cream: #f6f6eb;
  --blue: #381fd1;
  --white: #ffffff;
  --neutral-gray: #e5e5e6;
}

html{
  font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body {
  scroll-behavior: smooth;
  margin: 0;
}

a {
  text-decoration: none;
}



